/* .project-card-container{
  width: 100%; */
/* background: black; */
/* padding: 7px;
  box-shadow: 0px 0px 3px 3px lightgrey;
} */
/* 
.project-card-container{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px;

} */
.project-title {
  font-weight: 600;
  border: solid;
  font-family: cursive;
  box-shadow: 0px 0px 15px -1px;
  background: #babade;
  color: #ff5722;
}

.project-1 {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
}

.project-2 {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
}

.project-3 {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
}

.project-4 {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
}

/* 
.project-card{
  width: 75%;
  background: white;
  border: 1px solid #ccc;
  transition: 0.3s;
  margin: auto;
  padding: 30px;
  margin: 6% 13% 5%;
  box-shadow: 0 0 20px -2px #1f2235;
  display: flex;
    align-items: flex-start;
} */

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  
}

.project-1-card {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
  border: solid #ff5722;
  box-shadow: 0 0 20px -2px #1f2235;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.project-2-card {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
  border: solid #ff5722;
  box-shadow: 0 0 20px -2px #1f2235;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.project-3-card {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;
  border: solid #ff5722;
  box-shadow: 0 0 20px -2px #1f2235;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.project-1-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.project-2-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.project-3-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.project-row h2 {
  text-align: center;
  background: #babade;
  color: #ff5722;
  font-family: cursive;
  padding: 10px 10px 10px 10px;
  margin-bottom: 25px;
}

.veritas-logo {
  display: flex;
  justify-content: right;
}

.veritas-logo-image {
  height: 200px;
  line-height: 250px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  /* background: gold; */
  display: flex;
  align-items: center;
}

.budget-bubble-logo {
  width: 120px;
  height: 110px;
  line-height: 250px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  background: gold;
  display: flex;
  align-items: center;
}

.project-1-logo {
  display: flex;
  justify-content: space-around;
  padding-top: 15 px;
  padding-bottom: 15 px;
}

.project-1-card h3 {
  font-size: 20px;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: 600;
  margin-top: 50 px;
  margin-left: 50 px;
}

.project-1-button {
  margin: 10 px 0 px 20 px;
}

.tacato-logo img {
  width: 120px;
  height: 110px;
  line-height: 250px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  text-align: center;
  /* background: gold; */
  display: flex;
  align-items: center;
}

.tacato-logo {
  display: flex;
  justify-content: space-around;
}

.project-card p {
  padding-top: 10 px;
  margin: 0 15 px 15 px 10 px;
  font-weight: 600;
}

.project-1-button .highlighted-button:hover {
  color: #111;
}

.project-2-button .highlighted-button:hover {
  color: #111;
}
.project-3-button .highlighted-button:hover {
  color: #111;
}

.software-list li{
  font-weight: 600;
}

@media screen and (max-width: 1110px) {

  .project-card-container img{
    margin: 0 0 0 80px;
  }
  .project-card-container h2{
    font-size: 20px;
  }
  .project-card-container p{
    font-size: 12px;
  }
  .project-1-button .highlighted-button{
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
  .project-2-button .highlighted-button{
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
  .project-3-button .highlighted-button{
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture{
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 810px) {
  .profile-picture{
    margin: 0 !important;
  }
  .project-card-container{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
  }
  .project-1-button .highlighted-button{
    display: flex;
    justify-content: space-between;
  }
  .project-2-button .highlighted-button{
    display: flex;
    justify-content: space-between;
  }
  .project-3-button .highlighted-button{
    display: flex;
    justify-content: space-between;
  }
  .project-card-container{
    margin: 25px 0 0;
  }
  .profile-options .highlighted-button{
    margin: 0 !important;
  }
  .profile-options, .profile-details-role{
    text-align: center;
  }
}