.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  
}

.skills-card{
  display: flex;
  width: 89%;
  box-shadow: 10px 12px 10px rgb(0 0 0 / 30%);
  border: solid #ff5823;
  justify-content: space-around;
  margin: 50px 0 0;
  margin-left: 60px;
}

.skills-details{
  width: 48%;
  text-align: justify;
  padding: 30px;

}

.skills-details h1{
  font-weight: 600;
  border: solid;
  font-family: cursive;
  box-shadow: 0px 0px 15px -1px;
  background: #babade;
  color: #ff5722;
}

.software-list{
  margin: 0;
  padding: 0;
  list-style: none;

}

.software-image{
    width: 50%;
    background-image: url('https://content.techgig.com/photo/76527603/4-tips-every-software-engineer-should-follow-in-todays-age.jpg?119058');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}